body{
	margin:2%;
}

ul {
	list-style-type: none;
	margin-left: 1%;
	padding: 0;
	width: 10%;
	height: 7%;
	background-color:white;
	}

li a {
	display: block;
	color: #000;
	padding: 4px 16px;
	text-decoration: none;
	
	}
	

.notification {
  
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  
  right: -10px;
  padding: 0.1rem 0.4rem;
  border-radius: 50%;
  background: red;
  color: white;
}


/* Change the link color on hover */
li a:hover {
	background-color: #555;
	color: white;
	}
.content{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:100%;
	height:100%;
}
	
.item {
	
	width:auto;
	height:50%;
	
}

.item img{
	border-radius:10% 10% 10% 10%;
}



.item:hover img{
	transition: box-shadow 0.3s ease-in-out;
	transform:scale(1.03);
	cursor:pointer;
	-webkit-box-shadow: 17px 20px 28px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 17px 20px 28px -15px rgba(0,0,0,0.75);
	box-shadow: 17px 20px 28px -15px rgba(0,0,0,0.75);
}

#item1{
	background-image:url('../images/drill.jpg');
	
}

.top{
	display:flex;
	flex-direction:row;
	
}
			
#logo{
	width : 7rem;
	height : 7rem;
	margin-top : 1%;
	margin-bottom : 1%;
	margin-left : 1%;
	display;inline;
	}
	
	
.ads{
	align:middle;
	width:10%;
	display:inline;
}
			
#profile{
	float : right
}

.profile{
	display:inline;
	position:relative;
	float:right;
	width:60%;
}

.profileItem{
	width:100px;
	background-color:#ddd;
}

#profilePic{
	width : 6.3rem;
	height :90%;
	margin-top : 1%;
	margin-bottom : 1%;
	margin-left : 1%;
	float : right
}
#contact{
	background-color: #FFFFFF;
}
/*
.about a:hover{
	position: relative;
  display: inline-block;
}

.about-content {
  display: visible;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.about-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
*/

	
.dropdown:hover .about-content {
  display: block;
}
			
.topnav {
	overflow: visible;
	background-color: #e9e9e9;
	margin-left : 1%;
	padding:0;
	}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
	}

/* Style the "active" element to highlight the current page */
.topnav a.active {
	background-color: #2196F3;
	color: white;
	padding: 15px;
	}

/* Style the search box inside the navigation bar */
	
.search{
	float:right;
	display:flex;
	flex-direction:row;
	height:100%;
	margin:0;
}

.searchBtn{
	position:relative;
	float: right;
	color: black;
	cursor: pointer;
	width:2.2rem;
	height:100%;
	padding:0.3rem;
	background-image:url('../images/lupa.png');
	border: 0.1rem dotted;
	vertical-align:middle;
	margin:0;
}
.topnav input[type=text] {
	position:relative;
	vertical-align:middle;
	padding: 6px;
	border: none;
	margin-top: 0.2rem;
	margin-right: 16px;
	font-size: 17px;
	}

	
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}	


 When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally 
	@media screen and (max-width: 600px) {

.topnav input[type=text] {
	border: 1px solid #ccc;
	}
}

@media only screen and (max-width: 900px) {
  .item{
	  flex-wrap: wrap;
	  width:50%;
  }
}

@media only screen and (max-width: 650px) {
  .item{
	  flex-wrap: wrap;
	  width:100%;
  }
  
  .topnav{
	  display:flex;
	  flex-direction:row;
	  flex-wrap:wrap;
  }
  
  #profile{
	  float:middle;
  }
  
  .search{
	  width:100%;
  }
  
  .topnav a, .topnav input[type=text] {
	float: none;
	display: flex;
	flex-direction:row;
	text-align: left;
	width: 95%;
	padding: 14px;
	background-color:white;
}
.searchBtn{
	float: right;
	background-color: #ddd;
	color: black;
}

}

@media screen 
  and (max-width: 320px) 
  and (max-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
	body{
		background-color:red;
	}
}

.slider {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    padding: 1em;
    box-sizing: border-box;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

#galerie_exemplu figure{
	animation-name:gal_exemplu;
	animation-timing-function:linear;
	animation-play-state:paused;
	animation-duration:3s;	
	transform:scale(1,1);
	transform-origin:0px center;
	width:auto;
	height:auto;
}



#galerie_exemplu figure:nth-of-type(3){
	
	animation-delay:3s;
}
#galerie_exemplu figure:nth-of-type(2){
		
	position:absolute;
	animation-delay:6s;
}
#galerie_exemplu figure:nth-of-type(1){
		
	position:absolute;
	animation-delay:0s;
}

#galerie_exemplu:hover figure{
	animation-play-state:running;
	transform:scale(1);
}

/*cum calculam timpii:
- avem 7 poze; vrem pentru fiecare un timp de afisare de 2 secunde si o trecere spre urmatoarea poza de 1 secunda
- rezulta 3 secunde pentru fiecare imagine
- 7imagini * 3secunde =21 secunde in total pentru animatie (animation-duration) si fiecare poza cu un delay = 3* numarul de ordine
- momentul in care trebuie ascunsa poza si pusa in spatele celorlalte (ca sa isi astepte randul pentru noua animatie:
il calculam cu formula  timp_afisare(normal+trecerea la urmatoarea poza)/timp_total*100 = 3/21*100 =  14.28 (aproximativ)
- calculam 100-14.28=85.72 - la acest moment imaginea trebuie sa se vada in spatele imaginii care se afiseaza in mod curent (ca sa se vada si cat timp se realizeaza efectul de schimbare a imaginii
*/

@keyframes gal_exemplu{ 
	0% {z-index:10;opacity:1;} /*perioada 0-5% in care se afiseaza fara efect */
	99.28%{z-index:10;opacity:0;transform:scale(0);}
	100%{opacity:1;z-index:1;}
}


