

.slider {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    padding: 1em;
    box-sizing: border-box;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}


label { 
  -webkit-appearance: push-button;
  -moz-appearance: button; 
  display: inline-block;
  margin: 60px 0 10px 0;
  cursor: pointer;
  background-color:green;
}

td{
	position:relative;
	align:left;
	text-align:left;
}
th{
	position:relative;
	align:left;
	text-align:left;
}

/* Default State */
.facebook {
   background: green;
   width: 400px;
   height: 100px;
   line-height: 100px;
   color: white;
   text-align: center;
   display:none;
}

/* Toggled State */
input[type=checkbox]:checked ~ .facebook {
   display:block;
}